.my-class {
    color: #F30492;
    text-transform: capitalize;
  	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-weight: lighter;
}
#id {
    background-color: #F00388;
    color: #FFFFFF;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-weight: normal;
}
.my-class2 {
    background-color: #E8C2F3;
    background-image: url(../images/oranges.jpg);
    color: #E89C02;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.my-container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-style: solid;
    border-color: #FADE91;
    margin-left: 5px;
    margin-right: 5px;
    background-repeat: no-repeat;
    background-clip: padding-box;
    background-position: 2px 2px;
    background-attachment: scroll;
    background-origin: content-box;
}
.my-image {
}
#id {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
#idmarges {
    margin-left: 5px;
    margin-top: 0px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
#idmarges {
}
#idmarges {
}
#idmarges {
}
#idmarges {
}
#idmarges {
}
#idmarges {
}
mymarges {
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
.mymarges {
    color: #FFFFFF;
    background-image: url(../images/oranges.jpg);
    text-align: left;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-position: 5px 5px;
    border-radius: 20px;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
* { margin: 0; padding: 0; border: 0; font-size: 100%; }
#idmarges {
}
.idmarges {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.my-container div img {
    clear: left;
    color: #000000;
}
.my-containerdivimg {
}
